.box {
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;

  width: 33%;
  height: 50%;

  transform: translate(-50%, -50%);
}

#players {
  color: white;
}

#leaderboard {
  position: absolute;
  top: 0%;
  left: 70%;

  width: 60%;

  color: white;

  font-family: system-ui;
  font-size: 30px;
}

#word {
  padding: 115px 0;

  text-align: center;

  color: white;

  font-family: system-ui;
  font-size: 4rem;
}

.onBtn {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: white;
  border: 5px solid white;
  background-color: orange;

  font-size: 30px;
}

.offBtn {
  visibility: hidden;
}

#newGameBtn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 60%;

  transform: translate(-50%, -50%);

  color: white;
  border: 5px solid white;
  background-color: orange;

  font-size: 30px;
}

#inputBox {
  position: absolute;
  top: 90%;
  left: 50%;

  display: inline-block;

  width: 33%;
  height: 70px;

  transform: translate(-50%, -50%);
  text-align: center;

  color: white;
  border: none;
  background-color: orange;

  font-size: 4rem;
}

.nameInput {
  color: white;
  border-style: none;
  background-color: orange;

  font-family: system-ui;
  font-size: 2rem;
}

#inputBoxOff {
  visibility: hidden;
}

input:focus {
  outline: none;
}

#score {
  position: absolute;
  top: 50%;
  left: 10%;

  display: inline-block;

  transform: translate(-50%, -50%);

  color: white;

  font-family: system-ui;
  font-size: 5rem;
}

.hide {
  visibility: hidden;
}

#scoreOff {
  visibility: hidden;
}

.submitButton {
  color: white;
  border: 5px solid white;
  background-color: orange;

  font-size: 30px;
}
#streak {
  position: absolute;
  top: 40%;
  left: 10%;

  display: inline-block;

  transform: translate(-50%, -50%);

  color: white;

  font-family: system-ui;
  font-size: 4rem;
}

#streakOff {
  visibility: hidden;
}

#endGameScore {
  position: absolute;
  top: 25%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: white;

  font-family: system-ui;
  font-size: 2rem;
}
#timer {
  position: absolute;
  top: 50%;
  left: 90%;

  display: inline-block;

  transform: translate(-50%, -50%);

  color: white;

  font-family: system-ui;
  font-size: 5rem;
}

#timerOff {
  visibility: hidden;
}
